/*  --------------------------------------- */

/*  aside.css */
/*  Éléments de style pour le aside contenant la navigation, la recherche et la météo */

aside {
    display: none;
    height: 100%;
    padding-left: 20px;
}
 
@media only screen and (min-width: 768px) {
    aside {
        display: block;
    }    
}

aside ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    width: 75px;
}

.nav li {
    cursor: pointer;
    margin-bottom: 15px;
}

aside form {
    margin-bottom: 35px;
}

.menuBurger {
    display: block;
    max-height: 7vh;
    padding: 0;
}

@media only screen and (min-width: 768px) {
    .menuBurger {
        display: none;
    }   
}

#iconeBurger {
    cursor: pointer;
    font-size: 2rem;
    margin-left: 20px;
}

.afficher {
    display: block;
}